<app-header></app-header>
<nav class="container-navbar">
  <ul *ngIf="visionIn">
      <li class="container-ilhas" (click)="toggle(1)">Qualidade
      </li>
      <ul class="subdatas" *ngIf="validadorQualidade">
          <li>If</li>
          <li>Irr</li>
          <li>Irt</li>
      </ul>
      <li class="container-ilhas" (click)="toggle(2)">Produção
      </li>
      <ul class="subdatas" *ngIf="validadorProducao">
          <li>Reparo</li>
          <li>Alta</li>
          <li>Me</li>
      </ul>
      <li class="container-ilhas" (click)="toggle(3)">Rede Externa</li>
  </ul>
  <app-cards style="width: 100%;"></app-cards>
</nav>
