@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900');
.container-header {
  display: flex;
  padding: 30px 30px 0 30px;
  background-color: #3c1361;
  color: #fff;
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.container-controls {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 30px;
  border: 1px solid #fff;
  border-radius: 7px;
}

.btn-controls {
  padding: 20px;
  border: 1px solid;
  border-radius: 7px;
  cursor: pointer;
}

.control > img {
  cursor: pointer;
}
