@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900');

.container-section-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  border: 1px solid #fff;
  border-radius: 7px;
  gap: 30px;
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 7px;
  width: 25%;
}

.card:first-child {
  background-color: #f00;
}

.card:nth-child(2) {
  background-color: #0f0;
}

.card:last-child {
  background-color: #00f;
}

.card > h1 {
  font-size: 30px;
}

.card > p {
  font-size: 25px;
}
