<div class="container-graphic">
  <div class="container-header">
    <h1>{{ qualidade }}</h1>
    <p><a [routerLink]="['/qualidade']" routerLinkActive="active">Ver completo</a></p>
  </div>
  <div class="container-chart">
    <h2>IFI</h2>
  </div>
  <div class="container-chart">
    <h2>IRR</h2>
  </div>
  <div class="container-chart">
    <h2>IRT</h2>
  </div>
</div>
<div class="container-graphic">
  <div class="container-header">
    <h1>{{ producao }}</h1>
    <p><a [routerLink]="['/producao']" routerLinkActive="active">Ver completo</a></p>
  </div>
  <div class="container-chart">
    <h2>REPARO</h2>
  </div>
  <div class="container-chart">
    <h2>ALTA</h2>
  </div>
  <div class="container-chart">
    <h2>ME</h2>
  </div>
  <div class="container-chart">
    <h2>SERVIÇOS</h2>
  </div>
</div>
<div class="container-graphic">
  <div class="container-header">
    <h1>{{ redeExterna }}</h1>
    <p><a [routerLink]="['/rede-externa']" routerLinkActive="active">Ver completo</a></p>
  </div>
  <div class="container-chart">
    <h2>Prazo de Ocorrência Premium</h2>
  </div>
  <div class="container-chart">
    <h2>Prazo de Ocorrência Massivo</h2>
  </div>
  <div class="container-chart">
    <h2>IRR Elementos de Rede</h2>
  </div>
  <div class="container-chart">
    <h2>IRR Max3 de Rede</h2>
  </div>
  <div class="container-chart">
    <h2>IRR Grupo Gerador Massiva x Massiva</h2>
  </div>
</div>
