<div class="container-graphic">
  <div class="container-header">
    <h1>Prazo de Ocorrência Premium</h1>
    <p><a [routerLink]="['']" routerLinkActive="active">Ver completo</a></p>
  </div>
  <div class="container-chart">
  </div>
</div>
<div class="container-graphic">
  <div class="container-header">
    <h1>Prazo de Ocorrência Massivo</h1>
    <p><a [routerLink]="['']" routerLinkActive="active">Ver completo</a></p>
  </div>
  <div class="container-chart">
  </div>
</div>
<div class="container-graphic">
  <div class="container-header">
    <h1>IRR Elementos de Rede</h1>
    <p><a [routerLink]="['']" routerLinkActive="active">Ver completo</a></p>
  </div>
  <div class="container-chart">
  </div>
</div>
<div class="container-graphic">
  <div class="container-header">
    <h1>IRR Max3 de Rede</h1>
    <p><a [routerLink]="['']" routerLinkActive="active">Ver completo</a></p>
  </div>
  <div class="container-chart">
  </div>
</div>
<div class="container-graphic">
  <div class="container-header">
    <h1>IRR Grupo Gerador Massiva x Massiva</h1>
    <p><a [routerLink]="['']" routerLinkActive="active">Ver completo</a></p>
  </div>
  <div class="container-chart">
  </div>
</div>


