<div class="container-graphic">
  <div class="container-header">
    <h1>IFI</h1>
    <p><a [routerLink]="['']" routerLinkActive="active">Ver completo</a></p>
  </div>
  <div class="container-char">
  </div>
</div>
<div class="container-graphic">
  <div class="container-header">
    <h1>IRR</h1>
    <p><a [routerLink]="['']" routerLinkActive="active">Ver completo</a></p>
  </div>
  <div class="container-char">
  </div>
</div>
<div class="container-graphic">
  <div class="container-header">
    <h1>IRT</h1>
    <p><a [routerLink]="['']" routerLinkActive="active">Ver completo</a></p>
  </div>
  <div class="container-char">
  </div>
</div>
