<div class="container-graphic">
  <div class="container-header">
    <h1>{{ qualidade }}</h1>
    <p>Ver completo</p>
  </div>
  <div class="container-char">
    <app-charts></app-charts>
  </div>
</div>
<div class="container-graphic">
  <div class="container-header">
    <h1>{{ producao }}</h1>
    <p>Ver completo</p>
  </div>
  <div class="container-char">
    <app-charts></app-charts>
  </div>
</div>
<div class="container-graphic">
  <div class="container-header">
    <h1>{{ redeExterna }}</h1>
    <p>Ver completo</p>
  </div>
  <div class="container-char">
    <app-charts></app-charts>
  </div>
</div>
