<div class="container-graphic">
  <div class="container-header">
    <h1>REPARO</h1>
    <p><a [routerLink]="['']" routerLinkActive="active">Ver completo</a></p>
  </div>
  <div class="container-char">
  </div>
</div>
<div class="container-graphic">
  <div class="container-header">
    <h1>ALTA</h1>
    <p><a [routerLink]="['']" routerLinkActive="active">Ver completo</a></p>
  </div>
  <div class="container-char">
  </div>
</div>
<div class="container-graphic">
  <div class="container-header">
    <h1>ME</h1>
    <p><a [routerLink]="['']" routerLinkActive="active">Ver completo</a></p>
  </div>
  <div class="container-char">
  </div>
</div>
<div class="container-graphic">
  <div class="container-header">
    <h1>SERVIÇOS</h1>
    <p><a [routerLink]="['']" routerLinkActive="active">Ver completo</a></p>
  </div>
  <div class="container-char">
  </div>
</div>
