<div class="container-section-cards">
  <section class="container-cards">
    <div class="card">
        <h1>{{ title }}</h1>
        <p>{{ valorTotal }}</p>
    </div>
    <div class="card">
      <h1>{{ title2 }}</h1>
      <p>{{ valorTotal2 }}</p>
    </div>
    <div class="card">
      <h1>{{ title3 }}</h1>
      <p>{{ valorTotal3 }}</p>
    </div>
  </section>
  <section class="container-cards">
      <app-grafic style="width: 100%; width: 100%;display: flex;flex-direction: column;gap: 30px;"></app-grafic>
  </section>
</div>
